.para

{
    color: green
}

*
{ 

width: 500px;
text-align: justify;
margin: 25px;
font-size: 15px;
padding: 2px;
margin-left:150px;

}

h1

{ 

width: 500px;
border 1px solid black;
text-align: justify;
margin: 25px;
font-size: 30px;
}

h2

{ 

width: 500px;
border 1px solid black;
text-align: justify;
margin: 25px;
font-size: 20px;
}
